{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
	<center><h1>Computing Comms</h1>

    <h2>About Us</h2></center>

    <div>
    <p> Whether you're studying Computing Science at Univeristy of Glasgow or you're just interested in Computing, ComputingComms is exactly what you are looking for!
	<br>
	<br>	
	It is platform to discuss course questions and test yourself on relevant material. There is a variety of quizzes on all available computing science classes following relevant coursework from throughout the year, and a forum for those to upload and discuss fragments of code and questions. Moreover, lecturers can access and assist those having problems by providing sample code, emailing individual students directly or posting hints to the forum. It's a place for students to feel more at ease to ask questions and test their knowledge! 
</p>
    </div>
{% endblock %}