{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet_index" type="text/css" href="/static/CSS/stylesheet_index.css"/>
</head>

{% block title_block %}
	Computing Comms - Add a Question to the Forum
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Add a Question</h2></center>
	</div>
{% endblock %}



{% block body_block %}
<center>

	<form id = "forumQ_form" method = "post" action = "{% url 'add_question' %} enctype = "multipart/form-data">
	
	{% csrf_token %}
	
	{{ forumQ_form.as_p }}

	<input type = "submit" name= "submit" value = "Add Question" />
	</form>

</center>
{% endblock %}

