{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet_index" type="text/css" href="/static/CSS/stylesheet_index.css"/>
</head>

{% block title_block %}
	Computing Comms - Add an Image to the Forum
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Add an Image</h2></center>
	</div>
{% endblock %}



{% block body_block %}

<script type="text/javascript" src = "/static/js/reload.js"></script>

	<p><form id = "forum_form" method = "post" action = "{% url 'add_image' %}" enctype="multipart/form-data">
	
	<p>{% csrf_token %}
	
	<p>{{ forum_form.as_p }}

	<p><input type = "submit" name= "submit" value = "Add Image" onclick="loadDoc()" />
	</form>

{% endblock %}
