{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
	<script type="text/javascript" src = "/static/js/cs2tquiz.js"></script>
</head>

{% block title_block %}
		Computing Comms - Quizzes
{% endblock %}
	
{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Computing Systems 2 Quiz</h2></center>
	</div>
{% endblock %}


{% block body_block %}

	<div class="buttons_position">
		<a href="http://moodle2.gla.ac.uk/course/view.php?id=2861"><button class="button">CS2T Moodle Page</a></button><br><br>
	</div>	

	<form id = "cs2tquiz" name = "cs2tquiz">
	
	<p class="questions" id="question1">1. What are the key differences of a combinational circuit and a sequential circuit?</p>
	<input type="radio" id="answers" name="question1" value="a"> <label> Combinational – only contains logic gates and wires (no state), and its output is a boolean function of its inputs. Sequential – output depends on its current inputs and its past state, may contain flip flops and a clock </label> <br/>
	<input type="radio" id="answers" name="question1" value="b"> <label> Combinational - output depends on its current inputs and its paste state, may contain flip flops and a clock. Sequential - only contains logic gates and wires (no state), and its output is a boolean function of its inputs </label> <br/>
	<input type="radio" id="answers" name="question1" value="c"> <label> Combinational – contains logic gates and wires and a clock (has state), output depends on its past state. Sequential – also has a clock and flip flops, however output is a Boolean function of its inputs depending on current inputs and past state </label> <br/>
	<input type="radio" id="answers" name="question1" value="d"> <label> Combinational – only contains logic gates and wires (no state), and its output is a Boolean function of its inputs. Sequential – output depends on its current input and past state, however does not contain flip flops and a clock </label> <br/>

	<p class="questions" id="questions">2. Why do we need to mask interrupts?</p>
	<input type="radio" id="answers" name="question2" value="a"> <label> We could loose information, therefore the user cannot access this information that is lost </label> <br/>
	<input type="radio" id="answers" name="question2" value="b"> <label> Makes it impossible for the user to do I/O, allocate memory and control the system </label><br/>
	<input type="radio" id="answers" name="question2" value="c"> <label> An interrupt may occur while we are in the middle of serving a previous interrupt, and if we were to pause processing the first interrupt and start processing the second right away, the system might be left in inconsistent state </label><br/>
	<input type="radio" id="answers" name="question2" value="d"> <label> Enforces the policy on privileged instructions</label><br/>
	
	<p class="questions" id="questions">3. What is an advantage of a static linker over dynamic linking?</p>
	<input type="radio" id="answers" name="question3" value="a"> <label> Object modules that are used by several different programs will be duplicated </label><br/>
	<input type="radio" id="answers" name="question3" value="b"> <label> Produces a standalone executable which can be launched without the need for runtime linking</label><br/>
	<input type="radio" id="answers" name="question3" value="c"> <label> Only one copy is needed for shared library procedures </label><br/>
	<input type="radio" id="answers" name="question3" value="d"> <label> If a library procedure is updated, its improvements will automatically be available to all the programs that can call it </label><br/>
	
	<p class="questions" id="questions">4. What is an advantage of CISC compared to RISC? </p>
	<input type="radio" id="answers" name="question4" value="a"> <label> Features a register file, so many variables can be kept in registers, thus reducing memory access </label><br/>
	<input type="radio" id="answers" name="question4" value="b"> <label> Only load/store access to memory; RX instructions perform no additional work, other than transferring data to/from RAM </label><br/>
	<input type="radio" id="answers" name="question4" value="c"> <label> Calculation instructions use only registers and they aren’t mixed with memory accesses; this makes calculations fast </label><br/>
	<input type="radio" id="answers" name="question4" value="d"> <label> Features a small set of registers, so not all variables can be kept in registers and instructions can have operands residing both in registers and in memory </label><br/>

	<p class="questions" id="questions">5. What is the definition of a low level scheduler?</p>
	<input type="radio" id="answers" name="question5" value="a"> <label> manages CPU access, waiting queue, terminating processes, context switching, and executes the scheduling algorithm </label><br/>
	<input type="radio" id="answers" name="question5" value="b"> <label> machine that maintains schedules</label><br/>
	<input type="radio" id="answers" name="question5" value="c"> <label> adds new processes to the ready queue </label><br/>
	<input type="radio" id="answers" name="question5" value="d"> <label> times the program for the number of CPU cycles </label><br/>
	
	<p class="questions" id="questions">6.	What is the definition of paging?</p>
	<input type="radio" id="answers" name="question6" value="a"> <label> paging means moving a page of information from disk to memory, or from memory back to disk </label><br/>
	<input type="radio" id="answers" name="question6" value="b"> <label> when the OS maintains a page table for each address space </label><br/>
	<input type="radio" id="answers" name="question6" value="c"> <label> when the running process is interrupted, and the OS executes a page fault </label><br/>
	<input type="radio" id="answers" name="question6" value="d"> <label> when each load and store instruction must be checked </label><br/>
	
	<p class="questions" id="questions">7. What are the disadvantages of combining variables and code?</p>
	<input type="radio" id="answers" name="question7" value="a"> <label> The compiler or assembler can work out the address of each local variable relative to the address of the stack frame</label><br/>
	<input type="radio" id="answers" name="question7" value="b"> <label> Kept in stack frames </label><br/>
	<input type="radio" id="answers" name="question7" value="c"> <label> Cannot be shared and duplication errors </label><br/>
	<input type="radio" id="answers" name="question7" value="d"> <label> Variables are not placed in memory right after instructions  </label><br/>

	<p class="questions" id="questions">8. What are the main levels of virtual memory?</p>
	<input type="radio" id="answers" name="question8" value="a"> <label> bulk memory and secondary memory only </label><br/>
	<input type="radio" id="answers" name="question8" value="b"> <label> registers, cache, RAM, secondary memory, bulk memory and offline memory </label><br/>
	<input type="radio" id="answers" name="question8" value="c"> <label> cache, stack, I/O, schedulers</label><br/>
	<input type="radio" id="answers" name="question8" value="d"> <label> ROM and RAM only </label><br/>
	
	<p class="questions" id="questions">9. What are the advantages of register-variable code compared to statement by statement style?</p>
	<input type="radio" id="answers" name="question9" value="a"> <label> Object code is concise, variable is kept in the same register across many statements, some statements are executed entirely in registers meaning the code may be shorter</label><br/>
	<input type="radio" id="answers" name="question9" value="b"> <label> Each statement is compiled into a separate block of code, and requires loads, computation then stores</label><br/>
	<input type="radio" id="answers" name="question9" value="c"> <label> The object code corresponds straightforwardly to the source code which may make the code shorter</label><br/>
	<input type="radio" id="answers" name="question9" value="d"> <label> A variable may appear in several different registers making code shorter</label><br/>
	
	<p class="questions" id="questions">10. What is meant by priority based in scheduling?</p>
	<input type="radio" id="answers" name="question10" value="a"> <label> Each process is first come first served, and will follow through with each process as they come</label><br/>
	<input type="radio" id="answers" name="question10" value="b"> <label> Where there is multiple queues and each queue has a different scheduling algorithm where jobs and can be moved from one queue to another </label><br/>
	<input type="radio" id="answers" name="question10" value="c"> <label> Each process has a priority and can be user defined; automatically generated by the OS based on criteria such as: memory requirements, other resource usage and time limits </label><br/>
	<input type="radio" id="answers" name="question10" value="d"> <label> Only allows non-blocked messages to come through in which the first messages that aren’t blocked that come through are processed first </label><br/>
	
	{% if user.is_authenticated %}
		<center><input id="button" type="button" value= "Submit" onclick = "checkandsubmit();"></center>
		</form>
		
		<form id="cs2t_form" method="post" action="{% url 'cs2t' %}">
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		{% csrf_token %}
		<input type="hidden" name="cs2tscore" id="correct" />
		</div>
		</center>
		</form>
	
	{% else %}
		<center><input id="button" type="button" value="Submit" onclick = "check();"></center>
		</form>
		
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		</div>
		</center>
	
	{% endif %}
	
{% endblock %}