{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
	Computing Comms - Edit Account
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Edit Account</h2></center>
	</div>
{% endblock %}



{% block body_block %}
<center>
	<div class="container">
	<form method = "post">
	
	{% csrf_token %}
	
	{{ form.as_p }}

	<input type = "submit" name= "Submit" value = "Edit" />
	</form>

	

</div>
</center>

{% endblock %}
