{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
	Forum
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
                <center><h2>Forum</h2></center>
	</div>

{% endblock %}

{% block body_block %}
	<div>
		{% if user.is_authenticated %} 
			<h3><p>Welcome {{ user.username }}</p></h3>
		{% else %}
			<h3><p>Welcome</p></h3>
		{% endif %}
	</div>

	<div>
	<p>
	    {% if posts %}
		<ul>
		    {% for post in posts %}
			<li>{{ post.question }}<br>
			    {{ post.date }}<br>
			    {{ post.user }}
			</li>
		    {% endfor %}
		</ul>
	    {% else %}
		<strong>There are no categories present.</strong>
	    {% endif %}
	</p>
	</div>

	<div class="buttons_position">
		<ul>
		<a href="{% url 'my_account' %}"><button class="button">My Account</a></button><br><br>
		<a href="{% url 'add_image' %}"><button class="button">Add Image</a></button><br><br>
		<a href="{% url 'add_question' %}"><button class="button">Add Question</a></button>
		</ul>
	</div>
	
{% endblock %}