{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet_index" type="text/css" href="/static/CSS/stylesheet_index.css"/>
</head>

{% block title_block %}
	Computing Comms
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
{% endblock %}

{% block body_block %}
	
	<div>
	<center> <table cellpadding="15"> 
		{% if user.is_authenticated %}
		<tr>
			<td> <a href="{% url 'my_account' %}"> <button class="button"> My Account </a> </button> </td>
			<td> <a href="{% url 'sign_out' %}"> <button class="button"> Sign Out </a> </button> </td>
		</tr>				
					
					
		{% else %}			
		<tr>
			<td> <a href="{% url 'login' %}"> <button class="button"> Login </a> </button> </td>
			<td> <a href="{% url 'register' %}"> <button class="button"> Sign up </a> </button> </td>
		</tr>
		{% endif %}
		<tr>
			<td> <a href="{% url 'quizzes' %}"> <button class="button"> Test your knowledge </a> </button> </td>
			<td> <a href="{% url 'forum' %}"> <button class="button"> Ask a question </a> </button> </td>
		</tr>
		
	</center> </table>
	</div>
{% endblock %}
	