{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
		Computing Comms - Quizzes
{% endblock %}
	
{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Java Programming 2 Quiz</h2></center>
	</div>
{% endblock %}


{% block body_block %}

	<div class="buttons_position">
		<a href="http://moodle2.gla.ac.uk/course/view.php?id=11500"><button class="button">JP2 Moodle Page</a></button><br><br>
	</div>	

	<script type="text/javascript" src = "/static/js/jp2quiz.js"></script>
	<form id = "jp2quiz" name = "jp2quiz">
	
	<p class="questions" id="question1">1. What is the output for the following code?</p>
	<p id="questions"> for (int i=0; i<5; i++) { <br/> &emsp; System.out.print((i%2==0)?”a”:”b”); <br/> } </p>
	<input type="radio" id="answers" name="question1" value="a"> <label> abab </label><br/>
	<input type="radio" id="answers" name="question1" value="b"> <label> null </label><br/>
	<input type="radio" id="answers" name="question1" value="c"> <label> ababa </label><br/>
	<input type="radio" id="answers" name="question1" value="d"> <label> a </label><br/>

	<p class="questions" id="questions">2. What value is stored in variable i? <br/> int i  = 1/0; </p>
	<input type="radio" id="answers" name="question2" value="a"> <label> 0 </label><br/>
	<input type="radio" id="answers" name="question2" value="b"> <label> null </label><br/>
	<input type="radio" id="answers" name="question2" value="c"> <label> raises ArithmeticException </label><br/>
	<input type="radio" id="answers" name="question2" value="d"> <label> raises IOException </label><br/>
	
	<p class="questions" id="questions">3. What is the output for the following code? </p>
	<p id="questions"> while (true) { <br/> &emsp; System.out.print(“a”); <br/> &emsp; break; <br/>} </p>
	<input type="radio" id="answers" name="question3" value="a"> <label> a </label><br/>
	<input type="radio" id="answers" name="question3" value="b"> <label> aaaaaaaaaaa (for infinity) </label><br/>
	<input type="radio" id="answers" name="question3" value="c"> <label> null </label><br/>
	<input type="radio" id="answers" name="question3" value="d"> <label> true </label><br/>
	
	<p class="questions" id="questions">4. What value is stored in variable b? <br/> byte b = (byte)128; </p>
	<input type="radio" id="answers" name="question4" value="a"> <label> 128 </label><br/>
	<input type="radio" id="answers" name="question4" value="b"> <label> 1 </label><br/>
	<input type="radio" id="answers" name="question4" value="c"> <label> -128 </label><br/>
	<input type="radio" id="answers" name="question4" value="d"> <label> 0 </label><br/>

	<p class="questions" id="questions">5. What is meant by polymorphism in Java? </p>
	<input type="radio" id="answers" name="question5" value="a"> <label> Whenever an instance of class A is expected, you can also use an instance of any subclass of A </label><br/>
	<input type="radio" id="answers" name="question5" value="b"> <label> Many forms </label><br/>
	<input type="radio" id="answers" name="question5" value="c"> <label> If B is a subclass of A, then B is a specialised version of A</label><br/>
	<input type="radio" id="answers" name="question5" value="d"> <label> If a subclass has an instance method with an identical signature as a parent class then the subclass method overrides the parent method </label><br/>
	
	<p class="questions" id="questions">6. What is the output for the following code?</p>
	<p id="questions"> for (int i=0; i<5; i++) { <br/> &emsp; System.out.print(i++); <br/> } </p>
	<input type="radio" id="answers" name="question6" value="a"> <label> 24 </label><br/>
	<input type="radio" id="answers" name="question6" value="b"> <label> 024  </label><br/>
	<input type="radio" id="answers" name="question6" value="c"> <label> 135 </label><br/>
	<input type="radio" id="answers" name="question6" value="d"> <label> 13 </label><br/>
	
	<p class="questions" id="questions">7. What does immutability mean in Java? What are the advantages?</p>
	<input type="radio" id="answers" name="question7" value="a"> <label> Waits for queue to become non-empty when retrieving an element; provides a correct, thread-safe implementation  </label><br/>
	<input type="radio" id="answers" name="question7" value="b"> <label> Generalised version of synchronized code; allows code to back out of an attempt to acquire a lock </label><br/>
	<input type="radio" id="answers" name="question7" value="c"> <label> Internal state cannot change after it is constructed; saves memory and can be safely shared between data structures of threads </label><br/>
	<input type="radio" id="answers" name="question7" value="d"> <label> Internal state can be changed after it is constructed; tasks can be divided into subtasks </label><br/>

	<p class="questions" id="questions">8. What does liveness mean in Java? What is the most common problem with liveness?</p>
	<input type="radio" id="answers" name="question8" value="a"> <label> Begins by polling a condition that must be true before the block can proceed; starvation – a thread cannot gain access to a shared resource and is unable to make progress </label><br/>
	<input type="radio" id="answers" name="question8" value="b"> <label> The ability to implement more than one interface; deadlock – two or more threads are blocked forever, waiting for each other</label><br/>
	<input type="radio" id="answers" name="question8" value="c"> <label> At the moment of its happening or being performed; livelock – threads are too busy responding to each other to make progress </label><br/>
	<input type="radio" id="answers" name="question8" value="d"> <label> Concurrent programs ability to execute in a timely fashion; deadlock – two or more threads are blocked forever, waiting for each other</label><br/>
	
	<p class="questions" id="questions">9. What is the correct Classic Model-View-Controller diagram?</p>
	<input type="radio" id="answers" name="question9" value="a"> <img src = "{% static "images/answer1.jpg" %}" alt = "a"/> <br/>
	<input type="radio" id="answers" name="question9" value="b"> <img src = "{% static "images/answer2.jpg" %}" alt = "b"/> <br/>
	<input type="radio" id="answers" name="question9" value="c"> <img src = "{% static "images/answer3.jpg" %}" alt = "c"/> <br/>
	<input type="radio" id="answers" name="question9" value="d"> <img src = "{% static "images/answer4.jpg" %}" alt = "d"/> <br/>
	
	<p class="questions" id="questions">10.	What value is stored in variable d? <br/> double d = 1.0/0; </p>
	<input type="radio" id="answers" name="question10" value="a"> <label> Infinity </label><br/>
	<input type="radio" id="answers" name="question10" value="b"> <label> Double.POSITIVE_INFINITY </label><br/>
	<input type="radio" id="answers" name="question10" value="c"> <label> Double.INFINITY </label><br/>
	<input type="radio" id="answers" name="question10" value="d"> <label> null </label><br/>
	
	
	{% if user.is_authenticated %}
		<center><input id="button" type="button" value= "Submit" onclick = "checkandsubmit();"></center>
		</form>
		
		<form id="jp2_form" method="post" action="{% url 'jp2' %}">
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		{% csrf_token %}
		<input type="hidden" name="jp2score" id="correct" />
		</div>
		</center>
		</form>
	
	{% else %}
		<center><input id="button" type="button" value="Submit" onclick = "check();"></center>
		</form>
		
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		</div>
		</center>
	
	{% endif %}
	
{% endblock %}