{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
	My Account
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
                <center><h2>My Account</h2></center>
		<center><h3>Hi {{ user.username }}!</h3></center>
	</div>
	
{% endblock %}

{% block body_block %}
	
	<div class ="scores">
	<center>
		<em>Best scores</em>
		
	</center>
	</div>

	<div class="profile_pic" >
        {% if user.userprofile.picture %}
		<img src="{{ MEDIA_URL }}{{ user.userprofile.picture}}" width="200" height="200" alt="{{user.username}}" />
        {% else %}
		<img src="{% static "images/if_no_picture.jpg" %}" width="200" height="200" alt="no_picture"/>
        {% endif %}
	</div>
	
	<div class="buttons_position">
	<center>
		<ul>
		<a href="{% url 'edit_account' %}"><button class="noframe_button">Edit Account</a></button><br><br>
		<a href="{% url 'sign_out' %}"><button class="button">Sign Out</a></button><br><br>
		<a href="{% url 'my_questions' %}"><button class="button">My Questions</a></button><br><br>
		<a href="{% url 'my_comments' %}"><button class="button">My Comments</a></button>
		</ul>
	</center>
	</div>
	
{% endblock %}