{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet_index" type="text/css" href="/static/CSS/stylesheet_index.css"/>
</head>

{% block title_block %}
	Computing Comms - Quizzes
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Quizzes</h2></center>
	</div>
{% endblock %}

	{% block body_block %}
	
	<div>
	<center> <table cellpadding="15"> 
		<tr>
			<td> <a href="{% url 'jp2' %}"> <button class="button"> JP2 </a> </button> </td>
			<td> <a href="{% url 'oose2' %}"> <button class="button"> OOSE2  </a> </button> </td>
			<td> <a href="{% url 'wad2' %}"> <button class="button"> WAD2  </a> </button>
		</tr>
		<tr>
			<td> <a href="{% url 'ads2' %}"> <button class="button"> ADS2 </a> </button> </td>
			<td> <a href="{% url 'cs2t' %}"> <button class="button"> CS2T </a> </button> </td>
			<td> <a href="{% url 'af2' %}"> <button class="button"> AF2 </a> </button> </td>
		</tr>
	</center> </table>
	</div>
	{% endblock %}
