{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
	Computing Comms - Register
{% endblock %}

{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Sign Up</h2></center>
	</div>
{% endblock %}



{% block body_block %}
<p>

{% if registered %}
	Thanks for registering!
        <a href= "{% url 'home' %}">Return to the homepage.</a><br>
{% else %}
	Register here!
	<form id = "user_form" method = "post" action = "{% url 'register' %}" enctype = "multipart/form-data">
	<p>{% csrf_token %}
	{{ user_form.as_p }}
	{{ profile_form.as_p }}

	
	<p><input id = "sButton" type="radio" name="status" value="student"> Student<br>
  	<input id = "lButton" type="radio" name="status" value="lecturer"> Lecturer<br>
  	<input id = "obutton" type="radio" name="status" value="other"> Other


	<p><input type = "submit" name= "submit" value = "Register" /><p>
	</form>

{% endif %}
</p>
{% endblock %}
