{% extends 'computingcomms/base.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="/static/CSS/stylesheet.css"/>
</head>

{% block title_block %}
		Computing Comms - Quizzes
{% endblock %}
	
{% block head_block %}
	<div>
		<center><h1>Computing Comms</h1></center>
	</div>
	<div>
		<center><h2>Web App Development 2 Quiz</h2></center>
	</div>
{% endblock %}


{% block body_block %}

	<div class="buttons_position">
		<a href="http://moodle2.gla.ac.uk/course/view.php?id=5728"><button class="button">WAD2 Moodle Page</a></button><br><br>
	</div>	

	<script type="text/javascript" src = "/static/js/wadquiz.js"></script>
	<form id = "wadquiz" name = "wadquiz">
	
	<p class="questions" id="question1">1. If you had to upload you’re code onto a github repository, what sequence would you carry out to upload your code to it? </p>
	<input type="radio" id="answers" name="question1" value="a"> <label>push, commit, add, pull </label><br/>
	<input type="radio" id="answers" name="question1" value="b"> <label>pull, commit, push, add </label><br/>
	<input type="radio" id="answers" name="question1" value="c"> <label>push, add, commit, pull </label><br/>
	<input type="radio" id="answers" name="question1" value="d"> <label>pull, add, commit, push </label><br/>

	<p class="questions" id="questions">2. Which CSS selector applies to all div tags within the ID called "green": </p>
	<input type="radio" id="answers" name="question2" value="a"> <label>green blue </label><br/>
	<input type="radio" id="answers" name="question2" value="b"> <label>div #green </label><br/>
	<input type="radio" id="answers" name="question2" value="c"> <label>green div </label><br/>
	<input type="radio" id="answers" name="question2" value="d"> <label>$green div  </label><br/>
	
	<p class="questions" id="questions">3. Building web applications involves an array of challenges and complexities, these include: </p>
	<input type="radio" id="answers" name="question3" value="a"> <label>The composition of the development team, the immature and legacy technologies, and the low expectations of users </label><br/>
	<input type="radio" id="answers" name="question3" value="b"> <label>The hypertext structure, the demand by users for instant availability, the variety of device and the different web frameworks </label><br/>
	<input type="radio" id="answers" name="question3" value="c"> <label>The lack of an accepted development methodology, the hypertext structure, the homogeneous user populations </label><br/>
	<input type="radio" id="answers" name="question3" value="d"> <label>The variety of devices, the simplicity of the HTTP protocol, and the composition of the development team </label><br/>
	
	<p class="questions" id="questions">4. What is the role of XML on the web? </p>
	<input type="radio" id="answers" name="question4" value="a"> <label>To describe semi-structured documents, to be a mechanism for sharing, storing and transporting annotated data, and to display data </label><br/>
	<input type="radio" id="answers" name="question4" value="b"> <label>To be mechanism for storing annotated data, to be a mechanism for sharing annotated data, and to be a mechanism for securing annotated data </label><br/>
	<input type="radio" id="answers" name="question4" value="c"> <label>To be mechanism for storing annotated data, to be a mechanism for sharing annotated data, and to display data</label><br/>
	<input type="radio" id="answers" name="question4" value="d"> <label>To describe semi-structure documents, to be a mechanism for transporting annotated data, and to display data </label><br/>

	<p class="questions" id="questions">5. Given the HTML code shown below, how would the element be rendered:</p>
	<p id="questions"> &ltp&gt&ltp class=”blue” style=”background-colour: yellow”&gtGoodbye world&lt/p&gt&lt/p&gt </p>
	<input type="radio" id="answers" name="question5" value="a"> <label>Goodbye world, with no border and green background  </label><br/>
	<input type="radio" id="answers" name="question5" value="b"> <label>Goodbye world with border and green background </label><br/>
	<input type="radio" id="answers" name="question5" value="c"> <label>Goodbye world with border and yellow background </label><br/>
	<input type="radio" id="answers" name="question5" value="d"> <label>Goodbye world with no border and no background colour </label><br/>
	
	<p class="questions" id="questions">6. Which line of JQuery code selects the element with a class red and assigns an event to when the element is clicked:</p>
	<input type="radio" id="answers" name="question6" value="a"> <label>$(“.red”).click() </label><br/>
	<input type="radio" id="answers" name="question6" value="b"> <label>$(“.red”).onclick()  </label><br/>
	<input type="radio" id="answers" name="question6" value="c"> <label>$(“#red”).click() </label><br/>
	<input type="radio" id="answers" name="question6" value="d"> <label>$(“#red”).onclick() </label><br/>
	
	<p class="questions" id="questions">7. When using HTTP, two methods are commonly used. Select the statement that best describes what each method does.</p>
	<p id="questions"> &ltp&gt&ltp class=”blue” style=”background-colour: yellow”&gtGoodbye world&lt/p&gt&lt/p&gt </p>
	<input type="radio" id="answers" name="question7" value="a"> <label>POST appends data to the URL as key-value pairs, PUSH sends the data as part of the message   </label><br/>
	<input type="radio" id="answers" name="question7" value="b"> <label>PUSH sends the data as part of the message, GET appends data to the URL as key-value pairs </label><br/>
	<input type="radio" id="answers" name="question7" value="c"> <label>GET appends data to the URL as key-value pairs, POST sends data packaged as part of the message  </label><br/>
	<input type="radio" id="answers" name="question7" value="d"> <label>GET sends data packaged as part of the message, POST appends data to the URL as key-value pairs  </label><br/>
	
	<p id='questions'> In app/models.py, you need to create the models Author and Story. Each Author has a name of up to 128 characters, the number of views and likes are stored, along with author name slug line. The name of each Author needs to be different, i.e. it must be unique. </p>
	<p id='questions'> The code for app/models.py is almost complete, but some lines are missing and need to be added in: </p> 
	<p> from django.db import models <br/> from django.template.defaultfilters import slugify <br/> from django.contrib.auth.models import User </p>
	<p> class Author(models.Model): <br/> &emsp; name = models.CharField(max_length=128, unique=True) <br/> &emsp; views = models.IntegerField(default=0) <br/> &emsp; likes = models.IntegerField(default=0) <br/> &emsp; &ltsee Question 8&gt &emsp; (P1) </p>
	<p> &emsp; def save(self, *args, **kwargs): <br/> &emsp;&emsp; &ltsee Question 9&gt &emsp; (P2) <br/> &emsp;&emsp; super(Category, self).save(*args, **kwargs) </p>
	<p> class Story(models.Model): <br/> &emsp; &ltsee Question 10&gt &emsp; (P3) <br/> &emsp; title = models.CharField(max_length=128) <br/> &emsp; story_description = models.TextField() <br/> &emsp; views = models.IntegerField(default=0) </p>
	<p> &emsp; def __unicode__(self): <br/> &emsp;&emsp; return self.title </p>

	<p class="questions" id="questions">8. What line of code should be inserted at P1:</p>
	<input type="radio" id="answers" name="question8" value="a"> <label>slug = models.SlugField(default=’’,unique=True) </label><br/>
	<input type="radio" id="answers" name="question8" value="b"> <label>slug = models.SlugField(default=’’) </label><br/>
	<input type="radio" id="answers" name="question8" value="c"> <label>slug = models.SlugField() </label><br/>
	<input type="radio" id="answers" name="question8" value="d"> <label>slug = models.SlugField(blank=False)</label><br/>
	
	<p class="questions" id="questions">9. What line of code should be inserted at P2: </p>
	<input type="radio" id="answers" name="question9" value="a"> <label>slug = slugify(name) </label><br/>
	<input type="radio" id="answers" name="question9" value="b"> <label>self.slug = slugify(name) </label><br/>
	<input type="radio" id="answers" name="question9" value="c"> <label>slug = slugify(self.name) </label><br/>
	<input type="radio" id="answers" name="question9" value="d"> <label>self.slug = slugify(self.name) </label><br/>
	
	<p class="questions" id="questions">10.	What line of code should be inserted at P3:</p>
	<input type="radio" id="answers" name="question10" value="a"> <label>author = models.ForeignKeyField(Author)</label><br/>
	<input type="radio" id="answers" name="question10" value="b"> <label>author = models.ForeignKey(Author)  </label><br/>
	<input type="radio" id="answers" name="question10" value="c"> <label>story = models.ForeignKey(Story) </label><br/>
	<input type="radio" id="answers" name="question10" value="d"> <label>story = models.ForeignKeyField(Story) </label><br/>
	
	{% if user.is_authenticated %}
		<center><input id="button" type="button" value= "Submit" onclick = "checkandsubmit();"></center>
		</form>
		
		<form id="wad2_form" method="post" action="{% url 'wad2' %}">
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		{% csrf_token %}
		<input type="hidden" name="wad2score" id="correct" />
		</div>
		</center>
		</form>
	
	{% else %}
		<center><input id="button" type="button" value="Submit" onclick = "check();"></center>
		</form>
		
		<center>
		<div id="after_submit">
		<p id="number_correct"></p>
		</div>
		</center>
	
	{% endif %}
	
{% endblock %}