h1 {
    font-size: 40pt;
    text-align: center;
    color: #00ccff;
	font-family: Bernard MT Condensed;
}

h2 {
	font-size: 30pt;
	text-align: center;
	color: #00ccff;
	font-family: Bernard MT Condensed;
}

p {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-left: 250px;
	margin-right: 30px;
}

#blue {
	color: #00bfff;
}

.body {
	font-family: Calibri;
	color: black;
	font-size: 20pt;
}


.button {
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 30px 62px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
	
}
.noframe_button {
	background-color: white;
	border: none;
	color: #00ccff;
	padding: 30px 62px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
}
	

.table {
	border-collapse: separate;
	border-spacing: 15px 50px;
}

.sidenav {
	height: 100%;
	width: 170px;
	position:fixed;
	z-index: 1;
	top: 0;
	left: -17;
	background-color: #F0F8FF;
	overflow-x: hidden;
	padding-top: 15px;
}

.sidenav a {
	padding: 6px 2px 6px 2px;
	text-decoration: none;
	font-size: 26px;
	font-family: Calibri;
	color: black;
	display: block;
}

.sidenav a:hover {
	color: #00ccff;
}

.button a:link {
	color: white;
	font-size: 20px;
	font-family: Calibri;
}

.noframe_button a:link {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
}

.button a:visited {
	color: white;
	font-size: 20px;
	font-family: Calibri;
}

.noframe_button a:visited {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
}
.button a:hover {
	color: white;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;
}

.noframe_button a:hover {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;
}

.buttons_position {
	position: absolute;
	top: 150px;
	right: 80px
}
.scores{
	position: relative;
	top: 40px;
	background-color: #F5FFFA;
	border: none;
	color: navy;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
	height: 300px;
	margin-left: 200px;
	margin-right: 30px;
}

.profile_pic {
	position: relative;
	left: 650px;
	bottom: 300px;
}
	