h1 {
    font-size: 20pt;
    text-align: center;
    color: blue;
}

.fixed1{
    position: fixed;
    top: 100px;
    left: 100xp
    border: 1px solid black;
    width: 100px;
    height: 50px;
    background: blue} 

.fixed2{
    position: fixed;
    top: 100px;
    right: 100xp
    width: 100px;
    height: 50px;
    background: blue} 

.fixed3{
    position: fixed;
    bottom: 100px;
    left: 100xp
    width: 100px;
    height: 50px;
    background: blue} 

.fixed4{
    position: fixed;
    bottom: 100px;
    right: 100xp
    width: 100px;
    height: 50px;
    background: blue} 

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}