h1 {
   	font-size: 40pt;
  	text-align: center;
   	color: #00ccff;
	font-family: Bernard MT Condensed;
	padding-left: 180px;
}

h2 {
	font-size: 30pt;
	text-align: center;
	color: #00ccff;
	font-family: Bernard MT Condensed;
	padding-left: 180px;
}

label[for=id_username] {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-right: 30px;
	display: inline;
	padding-right: 0;
}

label[for=id_email] {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-right: 30px;
	display: inline;
	padding-right: 0;
}

label[for=id_password] {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-right: 30px;
	display: inline;
	padding-right: 0;
}

label[for=id_password1] {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-right: 30px;
	display: inline;
	padding-right: 0;
}

label[for=id_password2] {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-right: 30px;
	display: inline;
	padding-right: 0;
}

#sidebar {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	display: block;
	margin-left: 0;
	margin-right: 0;
	list-style-type: disc;
}

ul {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	display: block;
	margin-left: 250px;
	margin-right: 30px;
	list-style-type: disc;
}

p {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-left: 250px;
	margin-right: 30px;
}

#welcome {
	margin-left: 108px;
	margin-right: 30px;
}

#score {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-left: 0;
	margin-right: 0;
}

#date {
	font-size: 10pt;
	color: #00ccff;
	font-style: italic;
	font-family: Calibri;
}
#user {
	font-size: 12pt;
	color: #00ccff;
	font-family: Calibri;
}
#comment {
	font-size: 12pt;
	color: black;
	font-family: Calibri;
}

#forumquestion {
	font-family: Calibri;
	color: #00ccff;
	font-size: 16pt; 
	text-decoration: underline;
	padding-right: 350px;
}

#blue {
	color: #00bfff;
}

.body {
	font-family: Calibri;
	color: black;
	font-size: 20pt;
}


.button {
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 30px 62px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
	
}
.noframe_button {
	background-color: white;
	border: none;
	color: #00ccff;
	padding: 30px 62px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
}
	
.table {
	border-collapse: separate;
	border-spacing: 15px 50px;
}

.sidenav {
	height: 100%;
	width: 180px;
	position:fixed;
	z-index: 1;
	top: 0;
	left: -17;
	background-color: #F0F8FF;
	overflow-x: hidden;
	padding-top: 15px;
	
}

.sidenav a {
	padding: 6px 2px 6px 2px;
	text-decoration: none;
	font-size: 25px;
	font-family: Calibri;
	color: black;
	display: block;
}

.sidenav a:hover {
	color: #00ccff;
}

.button a:link {
	color: white;
	font-size: 20px;
	font-family: Calibri;
}

.noframe_button a:link {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
}

.button a:visited {
	color: white;
	font-size: 20px;
	font-family: Calibri;
}

.noframe_button a:visited {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
}
.button a:hover {
	color: white;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;
}

.noframe_button a:hover {
	color: #00ccff;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;
}

.buttons_position {
	position: absolute;
	top: 150px;
	right: 80px
}

.quiz_buttons_position {
	position: absolute;
	top: 30px;
	right: 60px
}

.scores{
	top: 50px;
	left: 325px;
	background-color:  #F0F8FF;
	border: none;
	color: navy;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
	height: 350px;
	margin-left: 200px;
	margin-right: 30px;
}

.status {
	position: absolute;
	top: 30px;
	right: 60px
}

.profile_pic {
	position: relative;
	left: 250px;
	top: -400px;
}
	
#after_submit {
	visibility: hidden;
	background: #00ccff;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;

}

#button {
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 30px 62px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: Calibri;
	width: 300px;
	cursor: pointer;
}

#button:hover { 
	color: white;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;
}

#questions {
	font-weight: bold; 
}

#question1 {
	font-weight: bold;
	padding-right: 350px
}

#answers {
	font-size: 16pt;
	color: black;
	font-family: Calibri;
	margin-left: 250px;
	margin-right: 30px;
	display: block;
	text-indent: 30px;
	float: left;
	
}

#number_correct {
	color: white;
	font-weight: bold;
	font-style: italic;	
}

#submitformat {
	margin-left: 180;
	margin-right: 0;
}

body {
	font-family: Calibri;
	color: black;
	font-size: 16pt;
}

input[type=radio] {
	margin-right: 12px;
}

label {
	margin-left: 30px;
	display: flex;
	padding-right: 100px;
}

table {
	padding-left:180px;
}

h3 {
	padding-left: 180px;

}