<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>

    <link rel="stylesheet" type="text/css" href="{% static 'drink_advisor_project/base.css' %}">
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/myfavicon.ico' %}">

      <title> DrinkAdvisor - {% block title %} {% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top/">

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">DrinkAdvisor</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'drinks' %}">Drinks</a>
		  </li>
            <li class="nav-item">
				<a class="nav-link" href="{% url 'sugar_free' %}">Sugar-free Drinks</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'energy_drinks' %}">Energy Drinks</a>
          </li>

	  <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        {% if not user.is_authenticated %}
	    <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
		</li>
	    <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
		</li>
	    {% endif %}

        {% if user.is_authenticated %}
	        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
		    </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
		    </li>
		</ul>

	    {% endif %}



      </div>
    </nav>





	{% block content_block %}{% endblock %}

    <!-- <div class="container">
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="http://v4-alpha.getbootstrap.com/components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>
    </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

<!---html>
	<head>
		<title>
			RunMate
			{% block title_block %}
			{% endblock %}
		</title>
	</head>
	<body>
	 {% block body_block %}
         {% endblock %}

	</body-->
</html>
