<!DOCTYPE html>



<html lang="en">
  <head>
    <center>
    <style>

  		body{background-color:Black;}

  .button {
  	background-color: orange;
  	border: none;
  	color: black;
  	padding: 30px 62px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 200px;
    font-color: black;
  	font-family: Calibri;
  	width: 1000px;
  }


  	</style>
                  <title>
                          RunMate

                  </title>
  		<h1><font color = "orange" size = "100px">RunMate<font></h1>
    </center>

  </head>

  <body>
    <center>
      <td><a href="loadedData.html"> <button class="button"><font color="black" text-decoration = none>Upload Run Data </font></a> </button></td>
    </center>

  </body>
</html>
